/*--------------------------------------------------------------
# Mise en page du site
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--font);
  font-size: var(--size-body);
  margin: 0 auto;
}

header, section, footer {
  max-width: 100%;
}

section {
  width: 90vw;
  margin: 0 auto;
  margin-top: 10vh;
}
@media (min-width: 1025px) {
  section {
    width: 80vw;
  }
}

footer {
  margin-top: 10vh;
  height: 20vh;
}

a {
  text-decoration: none;
  color: var(--bc-light);
}

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.rangee {
  display: flex;
  flex-direction: row;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}

.left {
  margin-right: auto;
  left: 0;
}

.right {
  margin-left: auto;
  right: 0;
}

.no-marg-top {
  margin-top: 0;
}

.fifty {
  width: 50%;
}

:root {
  --black: rgb(34, 32, 30);
  --grey: rgb(71, 64, 52);
  --white: rgb(132, 129, 112);
  --yellow-main: rgb(216, 181, 76);
  --orange-main: rgb(202, 151, 61);
}

/*--------------------------------------------------------------
# Section accueil
--------------------------------------------------------------*/
#accueil {
  height: 100vh;
  width: 100vw;
}
#accueil #acc-description img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: var(--black);
  z-index: 1;
}
#accueil #acc-description #acc-text {
  padding-top: 10vh;
  height: 100vh;
  background-color: rgba(132, 129, 112, 0.8);
  z-index: 2;
}

/*--------------------------------------------------------------
# Section demo du projet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section footer
--------------------------------------------------------------*/
#footer {
  background-color: var(--black);
}

/*--------------------------------------------------------------
# Section galerie d'images
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section header
--------------------------------------------------------------*/
#header {
  width: 100vw;
  height: 5vh;
  background-color: var(--white);
  z-index: 1000;
}
#header div {
  height: 100%;
}

/*--------------------------------------------------------------
# Section histoire du projet et prototypes
--------------------------------------------------------------*/
#histoire {
  max-width: 300%;
}
#histoire #his-bouton {
  background-color: var(--white);
}
#histoire #historique {
  width: 300%;
}
#histoire #historique .his-etape {
  margin-right: 5vw;
  width: 30%;
}

/*--------------------------------------------------------------
# Section reflexion finale
--------------------------------------------------------------*//*# sourceMappingURL=style.css.map */