/*--------------------------------------------------------------
# Mise en page du site
--------------------------------------------------------------*/

// #region base

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--font);
  font-size: var(--size-body);
  margin: 0 auto;

  color: var(--white-text);
  background-color: var(--dark);
}
// #endregion base



// #region sections

header, section, footer {
  max-width: 100%;
}

section {
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
  scroll-margin-top: 10vh;
}

footer {
  margin-top: 10vh;
  height: 20vh;
}

// #endregion sections



// #region liens

a {
  text-decoration: none;
  color: var(--bc-light);
}

button:hover {
  cursor: pointer;
}
// #endregion liens