/*--------------------------------------------------------------
# Mise en page du site
--------------------------------------------------------------*/

// #region base

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--font);
  font-size: var(--size-body);
  margin: 0 auto;
}
// #endregion base



// #region sections

header, section, footer {
  max-width: 100%;
}

section {
  width: 90vw;
  margin: 0 auto;
  margin-top: 10vh;

  @media (min-width: 1025px) { // version pour écrans larges
    width: 80vw;
  }
}

footer {
  margin-top: 10vh;
  height: 20vh;
}

// #endregion sections



// #region liens

a {
  text-decoration: none;
  color: var(--bc-light);
}
// #endregion liens