/*--------------------------------------------------------------
# Section demo du projet
--------------------------------------------------------------*/

#demo {

  &-vid {

    video {
      max-width: 70vw;
      max-height: auto;
      width: 60vw;
      height: auto;
    }
    
  }
}