/*--------------------------------------------------------------
# Section footer
--------------------------------------------------------------*/

#footer {
  background-color: var(--black);
  justify-content: space-around;

  #foot-socials {
    gap: 2vw;

    a {
      img {
        width: 2vw;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {

    #foot-socials {

      a {
        img {
          width: 3.5vw;
        }
      }
    }
  }
}