/*--------------------------------------------------------------
# Section header
--------------------------------------------------------------*/

#header {
  width: 100vw;
  height: 5vh;

  background-color: var(--white);

  z-index: 1000;

  div {
    height: 100%;
  }
}