/*--------------------------------------------------------------
# Section histoire du projet et prototypes
--------------------------------------------------------------*/

#histoire {
  max-width: 300%;

  #historique {
    width: 300%;

    .his-etape {
      margin-right: 5vw;
      width: 30%;
    }
  }
}