/*--------------------------------------------------------------
# Section histoire du projet et prototypes
--------------------------------------------------------------*/

#histoire {
  width: 100%;

  h2 {
    padding-left: 10vw;
  }

  #his-bouton-l, #his-bouton-r {
    background-color: var(--white);

    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .his-bouton {
    z-index: 3;
  }

   button:hover {
    cursor: pointer;
  }


  #historique {
    position: relative;
    overflow: hidden;
    width: 100%;

    #his-etapes {
      display: flex;
      transition: transform 0.3s ease;

      .his-etape {
        margin-right: 2vw;
        margin-left: 3vw;
        width: 25vw;
        height: 50vh;
        padding-top: 2vh;
        flex-shrink: 0;

        background-color: var(--grey);

        img {
          width: 90%;
          height: auto;
          background-color: var(--grey);
        }
      }
    }
  }
}